.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 700px;
  height: 100vh;
  background-color: #f6f9fc;
}

.Main {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding-top: 30px;
  overflow: scroll;
}

.ant-tabs-ink-bar {
  background-color: #f6f9fc;
  height: 0px;
}
